<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>createNewUserServlet</servlet-name>
        <servlet-class>app.servlets.userServlets.CreateNewUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createNewUserServlet</servlet-name>
        <url-pattern>/add-new-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listAllUsersServlet</servlet-name>
        <servlet-class>app.servlets.userServlets.ListAllUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listAllUsersServlet</servlet-name>
        <url-pattern>/list-users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUserByIdServlet</servlet-name>
        <servlet-class>app.servlets.userServlets.DeleteUserByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUserByIdServlet</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>

</web-app>