<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
<!--user-->
    <servlet>
        <servlet-name>createNewUserServlet</servlet-name>
        <servlet-class>app.servlets.userServlets.CreateNewUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createNewUserServlet</servlet-name>
        <url-pattern>/add-new-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listAllUsersServlet</servlet-name>
        <servlet-class>app.servlets.userServlets.ListAllUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listAllUsersServlet</servlet-name>
        <url-pattern>/list-users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUserByIdServlet</servlet-name>
        <servlet-class>app.servlets.userServlets.DeleteUserByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUserByIdServlet</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>

<!--    product-->
    <servlet>
        <servlet-name>createNewProductServlet</servlet-name>
        <servlet-class>app.servlets.productServlets.CreateNewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createNewProductServlet</servlet-name>
        <url-pattern>/add-new-product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listAllProductsServlet</servlet-name>
        <servlet-class>app.servlets.productServlets.ListAllProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listAllProductsServlet</servlet-name>
        <url-pattern>/list-products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProductById</servlet-name>
        <servlet-class>app.servlets.productServlets.DeleteProductById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProductById</servlet-name>
        <url-pattern>/delete-product</url-pattern>
    </servlet-mapping>

    <!--    order-->
    <servlet>
        <servlet-name>createNewOrderServlet</servlet-name>
        <servlet-class>app.servlets.orderServlets.CreateNewOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createNewOrderServlet</servlet-name>
        <url-pattern>/add-new-order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listAllOrdersServlet</servlet-name>
        <servlet-class>app.servlets.orderServlets.ListAllOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listAllOrdersServlet</servlet-name>
        <url-pattern>/list-orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrderByIdServlet</servlet-name>
        <servlet-class>app.servlets.orderServlets.DeleteOrderByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrderByIdServlet</servlet-name>
        <url-pattern>/delete-order</url-pattern>
    </servlet-mapping>

<!--    orderItem-->
    <servlet>
        <servlet-name>createNewOrderItemServlet</servlet-name>
        <servlet-class>app.servlets.orderItemServlets.CreateNewOrderItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createNewOrderItemServlet</servlet-name>
        <url-pattern>/add-new-orderItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listAllOrderItemsServlet</servlet-name>
        <servlet-class>app.servlets.orderItemServlets.ListAllOrderItemsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listAllOrderItemsServlet</servlet-name>
        <url-pattern>/list-orderItems</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrderItemById</servlet-name>
        <servlet-class>app.servlets.orderItemServlets.DeleteOrderItemById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrderItemById</servlet-name>
        <url-pattern>/delete-orderItem</url-pattern>
    </servlet-mapping>
</web-app>